data/*
.DS_Store
**/.DS_Store
.idea/
__pycache__/
/.ipynb_checkpoints/
/venv
/frontend/stspeck/frontend/node_modules
/ml_conformer_generator/ml_conformer_generator/weights/ml_conformer_generator_chembl_15_39.weights
/OPENBABEL_samples